{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

{% if request.MOBILE %}
	<div class="ui center raised very padded text container pink segment">
{% else %}
	<div class="ui formulaire-utilisateur center raised very padded text container pink segment">
{% endif %}
		<form class="ui form" action="/utilisateur/oubli" method="POST">
			<h4 class="ui dividing header">Entrez votre adresse email pour que nous puissions vous envoyer un lien de réinitialisation de votre mot de passe</h4>
			<div class="two fields">
                <div class="sixteen wide field">
					<div class="ui left icon input">
		                <i class="mail outline icon"></i>
		                {{ m.render_field(form.email)}}
		        	</div>
		        </div>
		    </div>
        	{{ form.csrf_token }}
		  	<button class="ui primary button" type="submit">Valider</button>
		</form>
	</div>

{% endblock %}
