<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!-- Semantic principal -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.7/components/form.min.js"></script>
<!-- Semantic reset -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/reset.min.css"/>
<!-- Semantic menu -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/menu.min.css"/>
<!-- Semantic listes -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/list.min.css"></script>
<!-- Semantic card -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/card.min.css"></script>
<!-- Semantic grid -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/grid.min.css"></script>
<!-- Semantic accordion -->
<link rel="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/accordion.min.css"></link>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/accordion.min.js"></script>
<!-- Semantic icons -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/icon.min.css"></script>
<!-- Semantic modal -->
<link rel="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/accordion.min.css"></link>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/modal.min.js"></script>
<!-- Semantic form -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.7/components/form.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
<!-- Semantic tab -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.7/components/tab.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.7/components/tab.min.js"></script>
<!-- Semantic cookie nab -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.7/components/nag.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.7/components/nag.min.js"></script>		
<!-- CSS slider -->
<script src="{{ url_for('static', filename='js/slides/ism-2.1.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/slides.css') }}">
<!-- CSS maison -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/maison.css') }}">